POSTGRES_DB=eden
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_SECRET=change-me
FRONTEND_ORIGIN=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:4200/api
BACKEND_PORT=4200
FRONTEND_PORT=3000
